* {
    font-family: "Poppins", sans-serif;
  }
  
  .break {
    margin-bottom: 30px;
  }
  
  #link {
    color: green;
  }
  
  #header {
    text-align: center;
  }
  
  .picture {
    display: block;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  /*#menu {
        padding: 20px;
        margin-left: 20px;
        margin-right: 150px;
        margin-bottom: 150px;
        border: 1px solid #808080;
        background: #add8e6;
      }*/
  
  #education {
    padding-left: 50px;
    padding-top: 100px;
  }
  
  .body {
    padding-left: 50px;
    padding-right: 100px;
  }
  
  .body2 {
    padding-left: 50px;
    padding-left: 54px;
    margin-bottom: 60px;
  }
  
  .body3 {
    padding-left: 50px;
    padding-right: 100px;
  }
  
  .body4 {
    padding-left: 50px;
    padding-right: 100px;
  }
  
  #skills {
    padding-left: 50px;
    padding-right: 100px;
  }
  
  .top {
    background-color: #008080;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 250px;
    /*first value is what determines the height of this button */
    cursor: pointer;
  }
  
  #footer {
    text-align: center;
    margin-top: 0px;
  }
  
  /*nav bar*/
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    top: 0;
    position: sticky;
  
  }
  
  
  .topnav a {
    float: left;
    color: rgb(252, 248, 248);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #008080;
    /*teel*/
    color: white;
  }
  
  .topnav a.active {
    background-color: #808080;
    color: white;
  }
  
  /*nav bar*/
  
  /*skill bars*/

  /*body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
  }*/
  
  .skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .skill-name {
    font-size: 16px;
    font-weight: 700;
    color: #110c0c;
    text-transform: uppercase;
    margin: 20px 0px;
  }
  
  .skill-bar {
    height: 14px;
    background: #282828;
    border-radius: 3px;
  }
  
  .skill-per {
    height: 14px;
    background: #3698d1;
    border-radius: 3px;
    position: relative;
  }
  
  .skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
  }
  
  .container{
    display:flex;
    text-align: center;
    justify-content: center
  }
  

  /*skill bars*/
  
  /*  tiles */
  .pannel {
    display: flex;
  }
  
  /* Sizing for tile Containers  */
  .column-2 {
    float: left;
    width: 30%;
    padding: 10px;
    margin: 1px;
    height: 230px;
  }
  
  /* Color and Images for tile Containers  */
  
  .tile-1 {
    background: url("/images/project-left.jpeg");
    background-size: cover;
    background-color: #808080;
  }
  
  .tile-2 {
    background-color: #008080;
  }
  
  .tile-3 {
    background: url("/images/project-left.jpeg");
    background-size: cover;
    background-color: #808080;
  }
  
  .tile-4 {
    background-color: #008080;
    text-align: center;
  }
  
  .tile-text {
    text-align: center;
    font-size: 20px;
  }
  
  /*tiles*/
  
  /*form*/
  #submit {
    background-color: #008080;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 10px 29px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form {
    font-family: poppins;
  }
  /*form*/
  
  /*hero banner*/
  .banner {
    background-image: linear-gradient(rgba(148, 146, 146, 0.7),
        rgba(143, 141, 141, 0.7)),
      url("https://images8.alphacoders.com/921/921329.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
  }
  .hero-text {
    color:white ;
  }
  
  /*hero banner*/

  

  